    .item1{grid-area: header;}
    .item2{grid-area: menu;}
    .item3{grid-area: main;}
    .item4{grid-area: right;}
    .item5{grid-area: footer;}

.grid-container{
    display: grid;
    grid-template-areas:
    'header header header header header'
    'menu main main main right'
    'footer footer footer footer footer';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

    [ class *="item"] {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px 0;
        font-size: 30px;
        text-align: center;
    }
.grid-container2{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 20px;
    background-color: #36f321;

}
[class *= 'item']{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid rgba(0,0,0,0.5) 2px;
}
.grid-container3{
    grid-template-columns: auto auto auto;
    display: inline-grid;
    gap: 10px;
    padding: 20px;
    background-color: #2196F3;
}
.grid3{
    border: 2px solid rgba(0,0,0,0.5);
    padding: 20px;
    background-color: rgba(255,255,255,0.4);
    font-size: 40px;
}
